<html lang="UTF-8">
    <head>
        <title>Main</title>
    </head>
    <body>
        <h1>Main Page</h1>
        <input type="button" value="생성" onclick="createUser()"/>
        <input type="button" value="조회" onclick="findUser()"/>
        <input type="button" value="수정" onclick="updateUser()"/>
        <script type="text/javascript">
            function createUser() {
              location.href = "/user";
            }
            function findUser() {
              location.href = "/user";
            }
            function updateUser() {
              location.href = "/user";
            }
        </script>
    </body>
</html>